# Conexión a la base de datos (Supabase / PostgreSQL)
DATABASE_URL="postgresql://padel:padelpass@localhost:5432/padeldb"

# Puerto del servidor
PUERTO=3000

FIRMA_COOKIE="padelygol2026clavecookie"
FIRMA_JWT="padelygol2026clavejwt"